.seg{
    height: 500px;
}

.seg>div{
    height:100%;
}

.seg div{
    width: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    padding: 20px;
}
